* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 400 16px Roboto, sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}
header {
  display: flex;
  text-align: center;
  align-items: center;
}

.logo {
  width: 300px;
  text-align: center;
  /* margin: 20px 0; */
}

section {
  margin: 20px auto;
  align-items: center;
  text-align: center;
}

.post {
  margin: 20px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}

.post img .imgfeed {
  padding: 30px;
  width: 400px;
  height: 400px;
}
